<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpor t" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('css', path='/character.css') }}">
    <link rel="stylesheet" href="{{ url_for('css', path='/bootstrap.min.css') }}">
    <title>Select Game Character</title>
</head>
<body>
    {% block customCSS %}
    <link rel="stylesheet" href="{{ url_for('css', path='/character.css') }}">

    {% endblock %}
    <h1>CHOOSE YOUR CHARACTER</h1>
    
    <div class="container">
        <div class="row">
            {% for c in characters %}    
            <div class="card">
                <div class="card-image">
                    <img src="{{c.skin_character}}" alt="character">
                </div>
                <div class="card-body">
                    <h2>{{c.id_character}}</h2>
                </div>
                <div class="selector">
                    <form action="/gameboard" method="post">
                        <input type="hidden" name="selected_character" value="{{c.id_character}}">
                        <button type="submit">go with this!</button>
                    </form>
                </div>
    
            </div>
            {% endfor %}
        </div>
       
        <div class="row align-items-center justify-content-xl-between mt-5">
            <div class="col-xl-12 m-auto text-center">
              <div class="copyright">
                <a href="{{url_for('statistics')}}">Go to Player Statistics</a>
              </div>
            </div>
        </div>
    </div>
    
</body>
</html>